{include file="../../../application/admin/view/public/head" /}
<style type="text/css">
    td[data-field="role_name"] .ew-tree-table-cell.single-line > .ew-tree-table-cell-content {
        text-overflow: unset;
    }
</style>

<div class="page-container p10 demoTable ">
    查询当前视频名称：
    <div class="layui-inline">
        <input class="layui-input" placeholder="查询当前视频名称" name="current_video_id" id="current_video_id" autocomplete="off">
    </div>
    &nbsp;
    日期：
    <div class="layui-input-inline w150">
        <input class="layui-input laydate-icon" name="task_date" value="{$param['task_date']}"  autocomplete="off" placeholder="日期" id="task_date">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
    <table class="layui-hide" id="test" lay-filter="test"></table>
    <div id="pages" class="center"></div>
    <div style="display: none"><table id="table"></table></div>
</div>
<input type="hidden" name="cur_page" id="cur_page" value="">
<input type="hidden" name="cur_limit" id="cur_limit" value="">
<input type="hidden" name="search_data" id="search_data" value="">

{include file="../../../application/admin/view/public/foot" /}

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
    </div>
</script>

<script>

</script>
<!--<script src="//res.layui.com/layui/dist/layui.js" charset="utf-8"></script>-->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
        init_table();
        function init_table( page = 1, limit = 20, param = '' ) { 
            var data = {
                    'page' : page,
                    'limit' : limit
                };
            if ( param != '' ) {
                Object.assign( data, JSON.parse( param ) );
            }
            
            $.ajax({
                url :'/admin/vod_log/index1',
                data : data,
                type : 'get',
                dataType : 'json',
                beforeSend: function () {
                    //loading层
                    showloading(true);
                },
                success : function(result_data){

                    showloading(false);//关闭loading
                    if (result_data.code == 0) {
                        layer.msg(result_data.msg);
                    } else {
                        test(result_data['data']);

                        laypageRender( result_data['data'] );
                    }
                },
                complete: function(){
                    
                    showloading(false);//关闭loading
                }
            });
        }
        
        function laypageRender( result_data ){
            layui.use(['laypage', 'layer'],function(){
                var laypage = layui.laypage
                    ,layer = layui.layer;
                //分页
                laypage.render({
                    elem: 'pages'
                    ,count: result_data.count
                    ,limit: result_data.limit
                    ,curr: result_data.page
                    ,limits: [10,20,30,50,200,500]
                    ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                    ,jump: function(obj, first){
                        $('#cur_page').val(obj.curr);
                        $('#cur_limit').val(obj.limit);
                        result_data.param.page = obj.curr;
                        result_data.param.limit = obj.limit;
                        if(!first){
                            $.ajax({
                                url :'/admin/vod_log/index1',
                                data : result_data.param,
                                type : 'get',
                                dataType : 'json',
                                beforeSend: function () {
                                    //loading层
                                    showloading(true);
                                },
                                success : function(result_data){
                                    if (result_data.code == 0) {
                                        layer.msg(result_data.msg);
                                    } else {
                                        showloading(false);//关闭loading

                                        test(result_data['data']);
                                    }
                                },
                                complete: function(){
                                    
                                    showloading(false);//关闭loading
                                }
                            });
                        }
                    }
                });
            });
        }

        // 加载中方法
        function showloading(flag = true){
            layui.use(['table','layer'], function(){
                var layer = layui.layer;
                var index = '';
                if ( flag ) {
                    index = layer.load(1, {
                        shade: [0.1,'#fff'], //0.1透明度的白色背景
                        offset: ['50%'] // 向上偏移量
                    });
                } else {
                    // 这里关闭之后还会重新加载loading  需要在数据渲染到table中之后关闭
                    layer.closeAll('loading');
                }
            });
        }

        function test(result_data){
            layui.use(['form', 'jquery','util','laydate',  'layer', 'table', 'laypage'], function () {
                var table = layui.table;
                var form = layui.form;
                var laypage = layui.laypage //分页
                var layer = layui.layer //弹层
                var util = layui.util; //注意这行，很重要
                var laydate = layui.laydate
                var $ = layui.jquery

                //日期范围
                laydate.render({
                    elem: '#task_date',
                });
                // 渲染表格
                table.render({
                    elem: '#test',
                    data: result_data['data'],
                    id: 'testReload',
                    toolbar: '#toolbarDemo',
                    defaultToolbar: ['filter', 'print', 'exports', {
                        title: '提示',
                        layEvent: 'LAYTABLE_TIPS',
                        icon: 'layui-icon-tips'
                    }],
                    cellMinWidth: 100,
                    limit: result_data['limit'],
                    cols: [
                        [ {type:'checkbox'},
                            {
                            field: 'id',
                            title: 'ID',
                            width: 100
                        }, {
                            field: 'vod_id',
                            title: 'vod视频ID',
                        }, {
                            field: 'vod_name',
                            title: '视频名称',
                        }, {
                            field: 'date',
                            title: '日期',
                        }, {
                            field: 'add_date',
                            title: 'vod插入时间',
                            width:170,
                            templet: function (d) {
                                if (d.add_date > 0) {
                                    return util.toDateString(d.add_date * 1000, "yyyy-MM-dd HH:mm:ss");
                                } else {
                                    return '';
                                }
                            }
                        }, {
                            field: 'up_date',
                            title: 'vod更新时间',
                            width:170,
                            templet: function (d) {
                                if (d.up_date > 0) {
                                    return util.toDateString(d.up_date * 1000, "yyyy-MM-dd HH:mm:ss");
                                } else {
                                    return '';
                                }
                            }
                        }, {
                            field: 'push_add_date',
                            title: '分解插入时间',
                            width:170,
                            templet: function (d) {
                                if (d.push_add_date > 0) {
                                    return util.toDateString(d.push_add_date * 1000, "yyyy-MM-dd HH:mm:ss");
                                } else {
                                    return '';
                                }
                            }
                        }, {
                            field: 'push_up_date',
                            title: '分解更新时间',
                            width:170,
                            templet: function (d) {
                                if (d.push_up_date > 0) {
                                    return util.toDateString(d.push_up_date * 1000, "yyyy-MM-dd HH:mm:ss");
                                } else {
                                    return '';
                                }
                            }
                        }
                        ]
                    ], style: 'margin-top:0;',
                    done: function() {
                        layer.closeAll();
                    }
                });

                // 导出数据配置

                //头工具栏事件
                var $ = layui.$,
                    active = {
                        reload: function () {
                            var current_video_id = $("input[name='current_video_id']").val();
                            var task_date = $("input[name='task_date']").val();
                            //执行重载
                            table.reload('testReload', {
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                },
                                where: {
                                    // key: {
                                    idName:current_video_id,
                                    task_date:task_date,
                                    // }
                                }
                            }, 'data');
                        }
                    };
                $(document).on('click','.demoTable .layui-btn', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });

            });



        }


</script>
</body>
</html>