*,
:after,
:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  font-size: 50px;
}
img {
  display: block;
  border: none;
}
.vid-header {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  padding: 0 0.3rem;
  box-sizing: border-box;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
}
.vid-header-logo {
  width: 1.6rem;
  height: 0.5rem;
}
.vid-header-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.vid-header-bar {
  height: 0.52rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.vid-header-search {
  width: 3.7rem;
  line-height: 0.52rem;
  padding: 0 0.2rem;
  margin-right: 0.2rem;
  box-sizing: border-box;
  background-color: #f6f6f6;
  border: 0.01rem solid #333333;
  border-radius: 0.26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.vid-header-search span {
  font-size: 0.22rem;
  color: #999999;
}
.vid-header-search-text {
  width: 100%;
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.22rem;
  color: #999999;
  border: none;
  background: none;
}
.vid-header-search-text:focus {
  outline: none;
}
.vid-header-search img,
.vid-header-search-button {
  width: 0.24rem;
  height: 0.24rem;
  padding: 0.14rem;
  box-sizing: content-box;
}
.vid-header-user {
  width: 0.52rem;
  height: 0.52rem;
}
.vid-header-user img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.vid-header-space {
  width: 100%;
  height: 1rem;
}
.vid-footer {
  width: 100%;
  height: 1.44rem;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}
.vid-footer-space {
  width: 100%;
  height: 1.44rem;
}
.vid-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.vid-tab-item {
  width: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
.vid-tab-item .img {
  width: 100%;
  height: auto;
}
.vid-tab-item .name {
  font-size: 0.24rem;
  color: #000000;
  position: absolute;
  bottom: 0;
  z-index: 10;
}
