.favs {
  width: 7.5rem;
  margin: 0 auto;
  background-color: #ffffff;
}
.favs-tit {
  width: 100%;
  height: 1.12rem;
  padding: 0 0.32rem;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.favs-tit-space {
  width: 100%;
  height: 1.12rem;
}
.favs-tit .back {
  width: 0.18rem;
  height: 0.3rem;
}
.favs-tit .back img {
  width: 100%;
  height: 100%;
}
.favs-tit .title {
  width: 3rem;
  font-size: 0.32rem;
  font-weight: 800;
  color: #000000;
  text-align: center;
}
.favs-tit .tool {
  width: 0.18rem;
}
.favs-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.favs-item {
  width: 100%;
  padding: 0.32rem 0.16rem;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.favs-item-cover {
  width: 1.6rem;
  height: 2.4rem;
  position: relative;
}
.favs-item-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.favs-item-cover .tips {
  width: 100%;
  height: 0.76rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.favs-item-cover .tips span {
  width: 100%;
  height: 0.32rem;
  line-height: 0.32rem;
  margin-top: 0.44rem;
  padding-right: 0.2rem;
  box-sizing: border-box;
  display: block;
  text-align: right;
  font-size: 0.24rem;
  color: #ffffff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.favs-item-text {
  width: calc(100% - 2rem);
  min-height: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}
.favs-item-text .title {
  font-size: 0.32rem;
  font-weight: 800;
  color: #000000;
  line-height: 0.48rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.favs-item-text .time {
  font-size: 0.26rem;
  font-weight: 400;
  color: #666666;
  line-height: 0.4rem;
}
.favs-item-text .action {
  font-size: 0.28rem;
}
.favs-item-text .action a {
  display: inline-block;
  color: #ff773c;
}
