.icon-arrow {
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  height: 6px;
  width: 6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-color: inherit;
  border-left: none;
  border-bottom: none;
  display: inline-block;
}
.icon-arrow-t {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.icon-arrow-b {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.video-detail {
  margin: 0.32rem auto;
}
.video-wrapper {
  width: 7.5rem;
  margin: 0 auto;
  background-color: #ffffff;
}
.video-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  margin: 0.16rem auto;
}
.video-header .cover {
  width: 100%;
  height: 3.68rem;
}
.video-header .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-header .text {
  width: 100%;
  font-size: 0.2rem;
  font-weight: 500;
  color: #666666;
  line-height: 1.8;
  padding: 0 16px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}
.video-header .text .title {
  font-size: 0.32rem;
  font-weight: 800;
  color: #000000;
}
.video-header .text .other {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.video-header .text .other .tags {
  margin-bottom: 0.16rem;
  font-size: 0.24rem;
  color: #eeeeee;
}
.video-header .text .other .tags span {
  color: #666666;
}
.video-header .text .other .tags span.hover {
  color: FF773C;
}
.video-header .text .other .tags > i {
  font-style: normal;
  margin: 0 0.16rem;
}
.video-header .text .other .collect {
  width: 0.28rem;
  height: 0.28rem;
}
.video-header .text .other .collect img {
  width: 100%;
  height: 100%;
}
.video-brief {
  width: 7.5rem;
  padding: 0.16rem 0.32rem;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.video-brief .title {
  width: 100%;
  margin: 0.16rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}
.video-brief .title p {
  font-size: 0.24rem;
  color: #000000;
}
.video-brief .title span {
  margin: 0 0.16rem;
  color: #999999;
}
.video-brief .content {
  width: 100%;
  line-height: 0.4rem;
  font-size: 0.24rem;
  color: #999999;
}
.video-brief .content.limit {
  word-break: break-all;
  display: -webkit-box;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.video-catalog {
  width: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.video-catalog-hd {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}
.video-catalog-hd-item {
  width: 3.2rem;
  height: 0.64rem;
  line-height: 0.64rem;
  border-radius: 0.4rem 0.4rem 0 0;
  border: 1px solid #eeeeee;
  border-bottom: none;
  font-size: 0.24rem;
  color: #666666;
  text-align: center;
  position: relative;
}
.video-catalog-hd-item.active {
  color: #000000;
  background-color: #fafafa;
}
.video-catalog-hd-item span {
  line-height: 0.4rem;
  padding: 0 0.12rem;
  font-size: 0.2rem;
  color: #ffffff;
  background-color: #ff3636;
  border-radius: 0.2rem 0 0.2rem 0;
  position: absolute;
  right: -0.04rem;
  top: -0.32rem;
}
.video-catalog-bd {
  width: 100%;
  padding: 0.16rem;
  box-sizing: border-box;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}
.video-catalog-bd:after {
  content: '';
  display: block;
  width: 2.24rem;
  height: 0;
  visibility: hidden;
}
.video-catalog-bd-item {
  width: 2.24rem;
  height: 0.56rem;
  line-height: 0.56rem;
  margin: 0.16rem 0;
  font-size: 0.24rem;
  text-align: center;
  box-sizing: border-box;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}
.video-comment {
  width: 7.5rem;
  padding: 0.16rem 0.3rem;
  box-sizing: border-box;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}
.video-comment-title {
  width: 100%;
  margin: 0.16rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  justify-content: flex-start;
}
.video-comment-title img {
  width: 0.32rem;
  height: 0.28rem;
}
.video-comment-title span {
  font-size: 0.24rem;
  font-weight: 800;
  color: #000000;
  margin-left: 0.08rem;
}
.video-comment-text {
  width: 100%;
}
.video-comment-release {
  width: auto;
  height: 0.6rem;
  line-height: 0.6rem;
  margin: 0.16rem 0;
  padding: 0 0.64rem;
  font-size: 0.24rem;
  border-radius: 0.3rem;
  color: #ffffff;
  background-color: #ff773c;
}
.video-comment-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.video-comment-item {
  width: 100%;
  margin: 0.16rem auto;
  padding: 0.16rem 0;
  border-bottom: 1px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  justify-content: flex-start;
}
.video-comment-item .cover {
  width: 0.52rem;
  height: 0.52rem;
  margin-right: 0.16rem;
}
.video-comment-item .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-comment-item .text {
  width: calc(100% - 0.68rem);
  font-size: 0.24rem;
}
.video-comment-item .username {
  color: #000000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.video-comment-item .content {
  color: #666666;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mac_comment .remaining-w {
  width: calc(100% - 72px);
  text-align: right;
  font-size: 12px;
  margin-right: 10px;
}
.mac_comment .smt .cmt_post {
  background-color: #ff773c;
  border-radius: 15px;
}
.cmt_wrap {
  margin-top: 44px;
}
.mac_verify_img {
  display: inline-block;
}
.mac_comment {
  width: 7.5rem;
  padding: 0.16rem 0.3rem;
  box-sizing: border-box;
  border: none;
  background-color: #fafafa;
}
.mac_comment .cmt_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}
.mac_comment .cmt_wrap .smt_wrap {
  font-size: 0.24rem;
  font-weight: 800;
  color: #000000;
}
.mac_comment .cmt_wrap .smt_wrap .total em {
  font-style: normal;
}
.mac_comment .cmt_item {
  width: 100%;
  margin: 0.16rem auto;
  padding: 0.16rem 0;
  border-bottom: 1px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}
.mac_comment .cmt_item .face_wrap {
  width: 0.52rem;
  height: 0.52rem;
  margin-right: 0.16rem;
}
.mac_comment .cmt_item .face_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mac_comment .cmt_item .item_con {
  width: calc(100% - 0.68rem);
  font-size: 0.24rem;
}
.mac_comment .cmt_item .item_con .top {
  font-size: 0;
}
.mac_comment .cmt_item .item_con .top span {
  font-size: 0.24rem;
}
.mac_comment .cmt_item .item_con .top a.name {
  font-size: 0.24rem;
  font-weight: 500;
  color: #000000;
}
.mac_comment .cmt_item .item_con .con {
  font-size: 0.24rem;
  font-weight: 500;
  color: #666666;
}
.mac_comment .cmt_item .item_con .con img {
  display: inline-block;
}
.mac_comment .cmt_item .item_con .cmt_item {
  position: relative;
  padding-bottom: 0.48rem;
}
.mac_comment .cmt_item .item_con .cmt_item .gw-action {
  position: absolute;
  bottom: 0;
  right: 0;
}
#detail-box {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 2%;
  background: #fff;
}
#bofang_box {
  padding: 2% 0;
  height: 400px;
}
