.vip-wrap {
  width: 7.5rem;
  min-height: 0.4rem;
  padding: 0.32rem;
  box-sizing: border-box;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}
.vip-title {
  width: 100%;
}
.vip-title img {
  width: 2.28rem;
  height: auto;
}
.vip-products {
  width: 100%;
  margin: 0.16rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.vip-product {
  width: 2.12rem;
  height: 2.12rem;
  border: 1px solid #999999;
  border-radius: 0.2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.vip-product-name {
  font-size: 0.32rem;
  font-weight: 800;
  color: #000000;
}
.vip-product-price {
  font-size: 0.6rem;
  font-weight: 800;
  margin-top: 0.16rem;
  color: #ff773c;
}
.vip-product-price span {
  font-size: 0.32rem;
}
.vip-product-badge {
  max-width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.24rem;
  padding: 0 0.08rem;
  border-radius: 0.2rem 0 0.2rem 0;
  color: #ffffff;
  background-color: #ff3636;
  position: absolute;
  right: -0.02rem;
  top: -0.08rem;
}
.vip-product.active {
  background: linear-gradient(134deg, #eadeb7 0%, #bc946c 100%);
}
.vip-product.active .vip-product-price {
  color: #000000;
}
.vip-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}
.vip-type-wrap {
  width: 100%;
}
.vip-type-title {
  width: 100%;
  margin: 0.32rem auto;
  font-size: 0.32rem;
  font-weight: 800;
  color: #000000;
}
.vip-type-item {
  width: 100%;
  height: 1.08rem;
  border-bottom: 1px solid #f5f5f5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  justify-content: flex-start;
}
.vip-type-item .name {
  font-size: 0.28rem;
  margin-right: 0.32rem;
  color: #000000;
}
.vip-type-item .icon {
  width: auto;
  height: 0.36rem;
  margin-right: 0.16rem;
}
.vip-type-item .radio {
  width: 0.48rem;
  height: 0.48rem;
  position: absolute;
  right: 0;
}
.vip-pay {
  width: 4.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  margin: 0.64rem auto;
  border-radius: 0.4rem;
  font-size: 0.32rem;
  color: #ffffff;
  background-color: #ff773c;
  text-align: center;
}
.rights {
  width: 100%;
  margin: 0.48rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.rights-wrap {
  width: 7.5rem;
  padding: 0.48rem 0.32rem;
  box-sizing: border-box;
  background-color: #fafafa;
}
.rights-title {
  width: 100%;
  font-size: 0.24rem;
  color: #000000;
  text-align: center;
}
.rights-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.rights-item img {
  width: 1.06rem;
  height: 1.06rem;
  margin-bottom: 0.32rem;
}
.rights-item p {
  font-size: 0.24rem;
}
