{include file="../../../application/admin/view/public/head" /}
<style type="text/css">
	.layui-form-label {
		width: 122px !important;
	}

	.layui-form-pane .layui-input-block {
		margin-left: 122px !important;
	}
</style>
<div class="page-container p10">
    <form class="layui-form layui-form-pane" method="post" action="">
        <input id="id" name="id" type="hidden" value="{$info.id}">

        <div class="layui-form-item">
            <label class="layui-form-label">相关视频ID：</label>
            <div class="layui-input-inline w500">
                <input type="text" class="layui-input" value="{$info.rel_ids}" placeholder="请输入相关视频ID" id="rel_ids" name="rel_ids">
            </div>
            <div class="layui-input-inline ">
                <a class="layui-btn j-iframe" data-href="{:url('vod/data')}?select=1&input=rel_ids" href="javascript:;" title="查询数据">查询数据</a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">下载状态：</label>
            <div class="layui-input-block">
                <input name="is_down" type="radio" id="rad-0" value="0" title="未下载" {if condition="$info['is_down'] eq 0"}checked {/if}>
                <input name="is_down" type="radio" id="rad-1" value="1" title="成功" {if condition="$info['is_down'] eq 1"}checked {/if}>
                <input name="is_down" type="radio" id="rad-2" value="2" title="下载中" {if condition="$info['is_down'] eq 2"}checked {/if}>
                <input name="is_down" type="radio" id="rad-3" value="3" title="下载失败" {if condition="$info['is_down'] eq 3"}checked {/if}>
                <input name="is_down" type="radio" id="rad-4" value="4" title="异常" {if condition="$info['is_down'] eq 4"}checked {/if}>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">切片状态：</label>
            <div class="layui-input-block">
                <input name="is_section" type="radio" id="is_section-0" value="0" title="未切片" {if condition="$info['is_section'] eq 0"}checked {/if}>
                <input name="is_section" type="radio" id="is_section-1" value="1" title="成功" {if condition="$info['is_section'] eq 1"}checked {/if}>
                <input name="is_section" type="radio" id="is_section-2" value="2" title="切片中" {if condition="$info['is_section'] eq 2"}checked {/if}>
                <input name="is_section" type="radio" id="is_section-3" value="3" title="切片失败" {if condition="$info['is_section'] eq 3"}checked {/if}>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上传状态：</label>
            <div class="layui-input-block">
                <input name="is_sync" type="radio" id="is_sync-0" value="0" title="未上传" {if condition="$info['is_sync'] eq 0"}checked {/if}>
                <input name="is_sync" type="radio" id="is_sync-1" value="1" title="成功" {if condition="$info['is_sync'] eq 1"}checked {/if}>
                <input name="is_sync" type="radio" id="is_sync-2" value="2" title="上传中" {if condition="$info['is_sync'] eq 2"}checked {/if}>
                <input name="is_sync" type="radio" id="is_sync-3" value="3" title="上传失败" {if condition="$info['is_sync'] eq 3"}checked {/if}>
            </div>
        </div>
		<div class="layui-form-item">
			<label class="layui-form-label">mp4下载标记：</label>
			<div class="layui-input-block">
				<input name="is_down_mp4" type="radio" id="is_mp4-0" value="0" title="未下载过" {if condition="$info['is_down_mp4'] eq 0" }checked {/if}> 
				<input name="is_down_mp4" type="radio" id="is_mp4-1" value="1" title="下载过" {if condition="$info['is_down_mp4'] eq 1" }checked {/if}> 
				<input name="is_down_mp4" type="radio" id="is_mp4-2" value="2" title="下载失败" {if condition="$info['is_down_mp4'] eq 2" }checked {/if}> 
			</div> 
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">m3u8下载标记：</label>
			<div class="layui-input-block">
				<input name="is_down_m3u8" type="radio" id="is_m3u8-0" value="0" title="未下载过" {if condition="$info['is_down_m3u8'] eq 0" }checked {/if}> 
				<input name="is_down_m3u8" type="radio" id="is_m3u8-1" value="1" title="下载过" {if condition="$info['is_down_m3u8'] eq 1" }checked {/if}> 
				<input name="is_down_m3u8" type="radio" id="is_m3u8-2" value="2" title="下载失败" {if condition="$info['is_down_m3u8'] eq 2" }checked {/if}> 
			</div> 
		</div>
        <div class="layui-form-item">
            <label class="layui-form-label">权重顺序：</label>
            <div class="layui-input-inline w100">
                <input type="text" class="layui-input" value="{$info.weight}" placeholder="请输入顺序号" id="sort" name="weight">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">TS文件夹地址</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" value="{$info.down_ts_url}" lay-verify="down_ts_url"  id="down_ts_url" name="down_ts_url">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">MP4文件地址</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" value="{$info.down_mp4_url}" lay-verify="down_mp4_url"  id="down_mp4_url" name="down_mp4_url">
            </div>
        </div>
        <!-- <div class="layui-form-item">
        <label class="layui-form-label">下载链接：</label>
        	<div class="layui-input-block">
        		<textarea class="layui-textarea" name="down_url" rows="3" cols="20">{$info.down_url}</textarea>
        	</div>
        </div> -->
        <!-- 下载链接 -->
        <div class="layui-form-item">
        	<label class="layui-form-label">mp4下载链接：</label>
        	<div class="layui-input-block">
        		<textarea class="layui-textarea" name="down_url" rows="3" cols="20">{$info.down_url}</textarea>
        	</div>
        </div>
        <div class="layui-form-item">
        	<label class="layui-form-label">m3u8下载链接：</label>
        	<div class="layui-input-block">
        		<textarea class="layui-textarea" name="m3u8_url" rows="3" cols="20">{$info.m3u8_url}</textarea>
        	</div>
        </div>
        <!--  -->
        <div class="layui-form-item">
        	<label class="layui-form-label">历史下载记录：</label>
        	<div class="layui-input-block">
        		<textarea class="layui-textarea" name="history_down_url" rows="3" cols="20">{$info.history_down_url}</textarea>
        	</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">失败理由：</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea"  name="reason" rows="3" cols="20">{$info.reason}</textarea>
            </div>
        </div>

        <div class="layui-form-item center">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="formSubmit" data-child="true">保 存</button>
                <button class="layui-btn layui-btn-warm" type="reset">还 原</button>
            </div>
        </div>
    </form>

</div>

{include file="../../../application/admin/view/public/foot" /}

<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
                , layer = layui.layer
                , $ = layui.jquery;

        // 验证
        form.verify({
            name: function (value) {
                if (value == "") {
                    return "请输入推荐标题";
                }
            },
            rel_ids: function (value) {
                if (value == "") {
                    return "请输入相关ID列表";
                }
            }
        });


    });
</script>

</body>
</html>